.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(44, 44, 44);
    color: aliceblue;
    height: 60px;
}
.container h1{
    font-size: 2.5rem;
    font-weight: 800;
}
.container nav {
    display: flex;
    gap: 30px;
}
.container nav a:hover{
    background-color: rgb(237, 237, 237);
    color: black;
    padding: 5px;
    border-radius: 5px;
    }